@model TourAgency.Models.Reservation

@{
    ViewBag.Title = "Dodaj Rezerwację";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dodaj Rezerwację</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ReservationDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReservationDate)
                @Html.ValidationMessageFor(model => model.ReservationDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TripsId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TripsId, new SelectList(ViewBag.Wycieczki, "TripsId", "Country"))
                @Html.ValidationMessageFor(model => model.TripsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientsId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ClientsId, new SelectList(ViewBag.Klienci, "ClientId", "FullName" ))
                @Html.ValidationMessageFor(model => model.ClientsId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy rezerwacji", "Index")
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
